


<head>
    <p><b>Autor: Eva García Domingo. Username en linux: egarcia</b>
</head>

<body>
  <p><b> Práctica final de SAT, Junio 2016</b>

    <br>La página principal muestra los hoteles de Madrid que más comentarios tienen
    , además de enlaces a las páginas de los hoteles, a una vista de todos los hoteles de Madrid
    y a las colecciones personales
    de los usuarios. <br>La página de cada hotel en particular muestra todo los datos
    de ese hotel, los comentarios de los usuarios para ese hotel y cinco fotos (si las hubiera)
    de éste. Además, (habiendote logeado antes) puedes añadir el hotel a tu colección y poner un comentario
    a ese hotel (sólo uno por hotel). <br> La pagina personal de cada usuario muestra los
    hoteles que ha añadido a su colección y un enlace para ver esos hoteles en formato XML.
    <br>Para volver a la página principal, se deberá clickar en el banner.
    <br> Además, cada usuario podrá elegir un título para su página persona y un
    color de fondo y tamaño de letra personalizado.

  </p>

  <p>
    <br>Implementación extra (aparte de la parte básica del enunciado):
    <p><li>El banner lleva a la pagina home ("/") (en vez de un enlace, como se sería lo básico)
      <li>Uso de favicon.ico (referente a la autora de la aplicación web)
      <li>Uso de HMTL5: "button", "footer"
      <li>Página de estilo CSS propia (no reutilizada de terceros)
    </p>
  </p>


</body>
